
ghost.dat
ghost.dat.bak
ghost/master/var/

shell.dat
shell.dat.bak

plugin.dat
plugin.dat.bak


## yaya
# /ghost/master/
yaya_variable.cfg
history.dat
var.txt

/ghost/master/profile/
/shell/master/profile/
/ghost/master/yaya_variable.cfg

